@font-face {
    font-family: 'OpenSans-bold';
    src: url("fonts/OpenSans-bold.ttf") format("truetype");
}

@font-face {
    font-family: 'OpenSans-semibold';
    src: url("fonts/OpenSans-semibold.ttf") format("truetype");
}

@font-face {
    font-family: 'Krungthep';
    src: url("fonts/Krungthep.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: #FFFFFF;
}

a:link {
    color: #FFFFFF;
}

a:visited {
    color: #FFFFFF;
}

.background {
    background: #1c6e2f;
}

.no-left-margin {
    margin-left: 0 !important;
}

.hidden {
    background-image: url(pics/oblojka.png) !important;
}

/* Pervaya stranica */
.start {
    background: url("pics/StartGame.png") no-repeat;
    margin: 94px auto 0 auto;
    width: 503px;
    height: 262px;
}

.memory {
    opacity: 0.85;
    width: 219px;
    font-family: "OpenSans-bold", Arial, Verdana, sans-serif;
    margin: 20px auto 0 auto;
    font-size: 28px;
    color: #FFFFFF;
    letter-spacing: 0.2px;
}

.button_st {
    margin-top: 34px;
    opacity: 0.85;
    background: #FFFFFF;
    border-radius: 4px;
    width: 144px;
    height: 42px;
    margin-right: auto;
    margin-left: auto;
}

.button_st_text {
    padding: 10px 18px 10px 20px;
    font-family: "OpenSans-bold", Arial, Verdana, sans-serif;
    font-size: 16px;
    color: #1C7430;
    letter-spacing: 0;
}

/* Vtoraya stranica */

.container {
    margin: 0 auto;
    width: 978px;
}

.container_row {
    float: left;
    margin: 30px auto 0 auto;
}

.counting_text {
    opacity: 0.8;
    font-family: "Krungthep", Arial, Verdana, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin: 0;
}

.start_again {
    margin-left: 16px;
}

.timer {
    display: inline-block;
    width: 1px;
    margin-left: 350px;
}

.points {
    margin-left: 400px;
}

.cards_text {
    font-family: "OpenSans-semibold", Arial, Verdana, sans-serif;
    opacity: 0.8;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: -0.25px;
}

.cards {
    float: left;
    margin-left: 30px;
    border-radius: 4px;
    width: 133px;
    height: 185px;
    background-size: cover;
    cursor: pointer;
}

/* Tretya stranica */

.finish {
    background: url("pics/Group 2.png") no-repeat;
    margin: 94px auto 0 auto;
    width: 503px;
    height: 262px;
}

.memory2 {
    margin: 0 auto;
    opacity: 0.85;
    width: 370px;
    font-family: "OpenSans-bold", Arial, Verdana, sans-serif;
    font-size: 28px;
    color: #FFFFFF;
    letter-spacing: 0.2px;
    white-space: nowrap;
}

.button_fn_text {
    padding: 10px 18px 10px 40px;
    font-family: "OpenSans-bold", Arial, Verdana, sans-serif;
    font-size: 16px;
    color: #1C7430;
    letter-spacing: 0;
}

